# Auto-detect text files and normalize line endings
* text=auto

# Ensure metrics, notebooks, and markdown are handled as standard Git text files
*.csv text eol=lf
*.ipynb text eol=lf
*.md text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.json text eol=lf
